.ui-dropdownchecklist
{
	background: #222222 url(../Images/arrow.png) no-repeat center right;
    color: white;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    width: 400px;
    height: 36px;
    border: none;
    border-radius: 3px;

}
.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active
{
	background-image: url(../Images/arrow.png); 
	border-color: #5794bf;
}
input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}
.ui-dropdownchecklist-text
{
	/*font-size: 14px;*/
	height: 25px;
	line-height: 25px;
	margin-right: 34px; /* background dropdown.png image */
    margin-top:5px;
}

.ui-dropdownchecklist-dropcontainer
{
	background-color: #fff;
	border: 1px solid #999;
}

.ui-dropdownchecklist-item
{
	
}

.ui-dropdownchecklist-item-hover
{
	background-color: #39f;
}

.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text
{
	color: #fff;
}

.ui-dropdownchecklist-group
{
	font-weight: bold;
	font-style: italic;
}

.ui-dropdownchecklist-group.nolabel
{
	border-bottom: dotted #CCCCCC 1px;
}

.ui-dropdownchecklist-group.nolabel:last-child
{
	border-bottom: none;
}

.ui-dropdownchecklist-indent
{
	padding-left: 20px;
}
